<mat-tab-group class="user-info">
    <mat-grid-tile>
      <mat-tab label="Today's Managed Projects" >
        <mat-list role="list">
            <table mat-table [dataSource]="projects" class="mat-elevation-z8">

              <ng-container matColumnDef="id">
                <th class="id" mat-header-cell *matHeaderCellDef> Project ID </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>   

                <ng-container matColumnDef="name">
                  <th class="name" mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.name}} 
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="targetDays">
                  <th class="targetDays" mat-header-cell *matHeaderCellDef> Target Days </th>
                  <td mat-cell *matCellDef="let element"> {{element.targetDays}} </td>
                </ng-container>   

                              
                <ng-container matColumnDef="remainingDays" >
                  <th class="remainingDays" mat-header-cell *matHeaderCellDef> Remaining Days </th>                   
                  <span>
                  <td mat-cell  *matCellDef="let element"><span *ngIf="element.remainingDays && (element.targetDays - element.remainingDays) >= 0">
                    <mat-chip-list>
                      <mat-chip color="primary">{{ element.remainingDays }}</mat-chip>
                    </mat-chip-list>
                  </span>
                  <span *ngIf="!element.remainingDays">
                    <mat-chip-list>
                      <mat-chip color="warn" selected>Never!</mat-chip>
                    </mat-chip-list>
                  </span>
                    <span *ngIf="this.element.remainingDays && (this.element.remainingDays - this.element.targetDays) > 0">
                      <mat-chip-list>
                        <mat-chip color="accent" selected>Late!</mat-chip>
                      </mat-chip-list>
                    </span> </td>
                </span>
                </ng-container>  

                <tr mat-header-row *matHeaderRowDef="displayedColumnsProject"></tr>
                <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedColumnsProject;" (click)="projectPage(row)"></tr>
              </table>
        </mat-list>
      </mat-tab>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-tab label="My Subordinates">
        <mat-list role="list">
            <table mat-table [dataSource]="subordinates" class="mat-elevation-z8">
                <ng-container matColumnDef="firstName">
                  <th mat-header-cell *matHeaderCellDef> First Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.firstName}} 
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="lastName">
                  <th mat-header-cell *matHeaderCellDef> Last Name </th>
                  <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="position">
                  <th mat-header-cell *matHeaderCellDef> Position </th>
                  <td mat-cell *matCellDef="let element"> {{element.position}} </td>
                </ng-container>   

                <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployee"></tr>
                <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedColumnsEmployee;" (click)="employeePage(row)"></tr>
              </table>
        </mat-list>
      </mat-tab>
    </mat-grid-tile>
  </mat-tab-group>
  
  
  
  
  
  