.user-info {
  margin-top: 20px;
  width: 100%;
  height: 100%;
  box-shadow: 10px 10px 8px rgb(214, 214, 214);
}

table {
  width: 100%;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: #f5f5f5;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 80px;
  border: 2px solid black;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
  height: 104px;
}

.example-element-description {
  padding: 16px;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.row-hover:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, .05);

}

mat-chip {
  width: 60px;
}

.id {
 width: 25%;
}

.name {
 width: 25%;
}

.targetDays {
 width: 25%;
}

.remainingDays {
 width: 25%;
}