.example-form {
    height: 170px;
    padding: 20px;
    width: 400px;
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
    border: 1px solid rgb(219,219,219);

  }
  
  .example-full-width {
    width: 100%;
  }

  .form-buttons {
      float: right;
      padding-right: 5px;
  }