   <form class="example-form" (ngSubmit)="addSkill(employeeId)">
    <mat-card-title>Add skill to employee</mat-card-title>

        <mat-form-field class="example-full-width">
          <mat-label>Employee</mat-label>
          <mat-select [(value)]="employeeId" >
            <mat-option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee?.firstName }} {{ employee?.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Skill</mat-label>
          <mat-select [(value)]="skillId" >
            <mat-option *ngFor="let skill of skills" [value]="skill.id">
              {{ skill?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="form-buttons">
          <button type="submit" mat-raised-button
          color="primary" class="btn-submit-edit"><mat-icon>check</mat-icon></button>
        </span>
        </form>

