<div *ngIf="this.receivedRequests?.length > 0">
  <a class="uk-link uk-icon uk-margin-right" uk-icon="bell" type="button"></a>
  <div uk-dropdown>
    <ul class="uk-nav uk-dropdown-nav">
      <li class="uk-nav-header">Friend Requests ({{ this.receivedRequests?.length }})</li>
    </ul>
    <ul *ngFor="let user of this.receivedRequests" class="uk-nav uk-dropdown-nav">
      <li class="uk-nav-divider"></li>
      <li><a class="uk-margin-right" [routerLink]="['/users', user?.id]" uk-tooltip="Visit profile">Friend request from
          {{ user?.username }}</a>
        <button class="uk-icon uk-margin-right uk-margin-small" (click)="this.acceptFriend(user?.id)" uk-icon="check"
          uk-tooltip="Accept Request">Accept</button>
        <button class="uk-icon uk-margin-small uk-align-right" (click)="this.removeFriend(user?.id)" uk-icon="close"
          uk-tooltip="Reject Request"></button>
      </li>
    </ul>
  </div>
</div>
