<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Login</h3>
  <div class="register-container uk-margin">
    <div class="login-container">
      <form [formGroup]="this.loginForm">
        <div class="uk-margin">
          <input class="uk-input" #usernameOrEmailInput type="text" placeholder="username/email..."
            formControlName="user">
          <span *ngIf="this.loginForm.controls.user.touched &&
          this.loginForm.controls.user.errors?.required">Username or email is required!</span>
          <span *ngIf="this.loginForm.controls.user.touched &&
          this.loginForm.controls.user.errors?.minlength">Username should be at least 2 characters long!</span>
        </div>
        <div class="uk-margin">
          <input class="uk-input" #passwordInput type="password" placeholder="password..." formControlName="password">
          <span *ngIf="this.loginForm.controls.password.touched &&
        this.loginForm.controls.password.errors?.required">Password is required!</span>
          <span *ngIf="this.loginForm.controls.password.touched &&
        this.loginForm.controls.password.errors?.pattern">Password must be minimum 6 characters long and contain at
            least one letter and one number!!</span>
        </div>
        <button class="uk-button uk-button-primary" type="button"
          (click)="this.loginUser(usernameOrEmailInput.value, passwordInput.value)">Login</button>
      </form>
    </div>
  </div>
</div>
