<div *ngIf="this.userProfileViewed" class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin"
  uk-grid>
  <div class="uk-card-media-left uk-cover-container">
    <div class="uk-card-badge uk-label">{{this.userProfileViewed?.role}}</div>
    <img
      src="{{userProfileViewed?.avatar ? userAvatarSrcPrefix + userProfileViewed?.avatar : defaultUserAvatarImagePath}}"
      alt="{{this.userProfileViewed?.username}}`s avatar" uk-cover>
    <canvas width="600" height="400"></canvas>
  </div>
  <div>
    <div class="uk-card-body">
      <div class="uk-card-badge uk-label uk-label-danger" *ngIf="this.userProfileViewed?.isBanned">BANNED</div>
      <h3 class="uk-card-title">{{this.userProfileViewed?.username}}</h3>
      <p class="uk-text-meta uk-margin-remove-top">Joined on: <time>{{ this.userProfileViewed?.joinedOn | date}}</time>
      </p>
      <p class="uk-text-meta uk-margin-remove-top">Posts: {{ this.userActivity?.posts.length }}</p>
      <p class="uk-text-meta uk-margin-remove-top">Comments: {{ this.userActivity?.comments.length }}</p>
      <div class="uk-text-meta uk-margin"> Friends: <div *ngFor="let friend of this.userFriends"
          class="uk-inline uk-margin-remove">
          <a class="uk-link" [routerLink]="['/users', friend?.id]">{{ friend?.username }}</a>
        </div>
      </div>
      <button class="uk-button uk-button-small uk-button-danger" type="button"
        *ngIf="this.loggedUserData?.role==='Admin' && this.userProfileViewed?.role==='Basic'"
        (click)="this.deleteUser()">Delete User</button>
      <button class="uk-button uk-button-samll uk-button-secondary" type="button"
        *ngIf="this.userProfileViewed?.isBanned && this.loggedUserData?.role==='Admin'"
        (click)="this.unbanUser()">Remove Ban</button>
      <button class="uk-button uk-button-small uk-button-secondary" type="button"
        *ngIf="this.loggedUserData?.role==='Admin' && this.userProfileViewed?.role==='Basic' && !this.userProfileViewed?.isBanned"
        (click)="this.openBanForm()">Ban User</button>
      <button class="uk-button uk-button-small uk-button-primary" type="button"
        *ngIf="this.loggedUserData?.role==='Admin' && this.userProfileViewed?.role==='Basic'"
        (click)="this.makeUserAdmin()">Make Admin</button>
      <button class="uk-button uk-button-small uk-button-primary" type="button"
        *ngIf="this.loggedUserData?.role==='Admin' && this.userProfileViewed?.role==='Admin' && this.loggedUserData.id!==this.userProfileViewed.id"
        (click)="this.makeUserBasic()">Basic User</button>
      <button *ngIf="sameUser()" class="uk-button uk-button-small" type="button" (click)="fileInput.click()"
        [disabled]="this.loggedUserData?.isBanned">Upload Avatar</button>
      <button *ngIf="!this.friendRequested && !this.friendRequestReceivedFromUser && !sameUser() && !this.isFriend"
        class="uk-button uk-button-small" type="button" (click)="this.addFriend()">Add Friend</button>
      <button *ngIf="this.friendRequested && !sameUser()" class="uk-button uk-button-small" type="button"
        (click)="this.removeFriend()">Cancel Request</button>
      <button *ngIf="this.isFriend && !sameUser()" class="uk-button uk-button-small" type="button"
        (click)="this.removeFriend()">Remove Friend</button>
      <button *ngIf="!this.isFriend && this.friendRequestReceivedFromUser && sameUser()"
        class="uk-button uk-button-small" type="button" (click)="this.acceptFriend()">Accept Friend</button>
      <input hidden #fileInput (change)="onFileSelected(fileInput.files[0])" type="file">
      <form *ngIf="this.banFormOpened" [formGroup]="this.banForm">
        <input type="datetime-local" class="uk-range uk-form-width-medium" #expirationDateInput formControlName="expiresOn"> 
        <span *ngIf="this.banForm.controls.expiresOn.touched &&
        this.banForm.controls.expiresOn.errors?.required">Ban expiration date is required!</span><br>
        <textarea type="text" #descriptionInput cols="28" rows="4" class="uk-input; uk-form-large" placeholder="description..."
          formControlName="description"></textarea> <br>
        <span *ngIf="this.banForm.controls.description.touched &&
        this.banForm.controls.description.errors?.required">Ban description is required!</span>
        <span *ngIf="this.banForm.controls.description.touched &&
        this.banForm.controls.description.errors?.minlength">Description should be at least 10 characters long!</span>
        <span *ngIf="this.banForm.controls.description.touched &&
        this.banForm.controls.description.errors?.maxlength">Description should be max 100 characters long!</span><br>
        <button type="button" class="uk-button uk-button-small" (click)="this.banUser(descriptionInput.value, expirationDateInput.value)">Ban</button>
      </form>
    </div>
  </div>
</div>
<div class="uk-grid" uk-grid>
  <div *ngIf="this.userActivity?.comments" class="uk-width-1-2@m uk-width-1-1">
    <p>Posts</p>
    <app-single-post *ngFor="let post of (this.userActivity?.posts | SortByDate)" [singlePost]="post">
    </app-single-post>
  </div>
  <div *ngIf="this.userActivity?.comments" class="uk-width-1-2@m uk-width-1-1">
    <p>Comments</p>
    <app-home-comment *ngFor="let comment of (this.userActivity?.comments | SortByDate)" [singleComment]="comment">
    </app-home-comment>
  </div>
</div>
