<div class="single-comment-container">
  <div class="uk-display-block uk-card uk-card-default uk-card-body uk-link-toggle uk-card-small
    uk-margin-bottom uk-padding-remove">
    <div class="uk-card-header">
      <div *ngIf="!this.commentInEditMode">
        <p class="uk-text-meta uk-margin-remove uk-align-right">
          <time>{{this.singleComment.addedOn | date : 'short'}}</time></p>
        <p class="uk-text-meta uk-margin-remove uk-align-left">{{this.singleComment.title}}</p>
      </div>
      <p *ngIf="!this.commentInEditMode" class="uk-text">{{this.singleComment.content}}</p>
      <form [formGroup]="this.registerForm" *ngIf="this.commentInEditMode">
        <div>
          <input #titleInput type="text" formControlName="title" class="uk-input uk-form-blank">
          <span *ngIf="this.registerForm.controls.title.touched &&
                this.registerForm.controls.title.errors?.minlength">Title should be at least 2 characters long!</span>
          <span *ngIf="this.registerForm.controls.title.touched &&
                this.registerForm.controls.title.errors?.maxlength">Title should be max 50 characters long!</span>
        </div>
        <div>
          <textarea #contentInput type="text" class="uk-textarea" rows="5" placeholder="Start typing"
            formControlName="content"></textarea>
          <span *ngIf="this.registerForm.controls.content.touched &&
this.registerForm.controls.content.errors?.minlength">Content should be at least 10 characters long!</span>
        </div>
        <hr>
        <button class="uk-button uk-button-primary uk-button-small" type="button"
          (click)="this.updateComment(titleInput.value, contentInput.value)">Save</button>
        <button class="uk-button uk-button-small uk-button-link uk-margin-left" type="button"
          (click)="this.showEditForm()">Cancel</button>
      </form>
    </div>
    <div class="uk-card-body" *ngIf="!this.commentInEditMode">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <a class="uk-width-auto" [routerLink]="['/users', this.singleComment.userId]">
          <img class="uk-border-circle" width="40" height="40"
            src="{{commentAuthor?.avatar ? userAvatarSrcPrefix + commentAuthor.avatar : defaultUserAvatarImagePath}}">
        </a>
        <div class="uk-width-expand">
          <p class="uk-margin-remove uk-text-meta uk-text-truncate">by <a
              [routerLink]="['/users', this.singleComment?.userId]">{{this.commentAuthor?.username}}</a></p>
        </div>
        <div *ngIf="!this.getLock()" class="uk-width-auto">
          <a class="uk-link-muted uk-margin-small-right" style="margin-top: 60px;"
            [attr.uk-tooltip]="this.commentLikedUsernames()">{{ this.likes?.length }}</a>
          <a class="uk-icon-link uk-margin-right" uk-icon="heart" uk-tooltip="Like Comment" *ngIf="!this.likedByUser"
            (click)="this.likeComment()"></a>
          <a class="uk-icon-link uk-margin-right heart-icon" uk-icon="heart" uk-tooltip="Unlike Comment"
            *ngIf="this.likedByUser" (click)="this.unlikeComment()"></a>
          <a class="uk-icon-link uk-margin-right" uk-icon="file-edit" uk-tooltip="Edit Comment"
            *ngIf="this.authorization" (click)="this.showEditForm()"></a>
          <a class="uk-icon-link" uk-icon="trash" uk-tooltip="Delete Comment" *ngIf="this.authorization"
            (click)="this.deleteComment()"></a>
        </div>
      </div>
    </div>
  </div>
</div>
