table {
    width: 100%;
    margin-top: 20px;
  }
  
  tr.example-detail-row {
    height: 0;
  }
  
  tr.example-project-row:not(.example-expanded-row):hover {
    background: whitesmoke;
    cursor: pointer;
  }
  
  tr.example-project-row:not(.example-expanded-row):active {
    background: #efefef;
  }
  
  .example-project-row td {
    border-bottom-width: 0;
  }
  
  .example-project-detail {
    overflow: hidden;
    display: flex;
  }
  
  .example-project-diagram {
    min-width: 80px;
    padding: 8px;
    font-weight: lighter;
    margin: 8px 0;
    height: 104px;
    background-image: url(https://media.licdn.com/dms/image/C561BAQHPj3cTKJFU9g/company-background_10000/0?e=2159024400&v=beta&t=q74_zGRmFxwEgFWZHayOudqmA84j8gqoksrBQV0webI);
    color:whitesmoke
  }
  
  .example-project-name {
    font-weight: bold;
    font-size: 40px;
    line-height: normal;
  }
  
  .example-project-description {
    padding: 16px;
  }
  
  .example-project-description-attribution {
    opacity: 0.5;
  }

  .filter {
    display: inline-flex;
    width: 25%;
    
  }

  .filter-box {
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
  }

/*   button {
    margin-bottom: 25px;
    display: flex;
    align-self: auto;
  } */

  .go-to-project-page-btn {
    float: right;
  }