<h2>. . . : : : Company Projects : : : . . .</h2>

<button
  mat-raised-button
  color="primary"
  (click)="createProject()">
  Create Project
</button>

<div class="filter-box">
  <mat-form-field class="filter">
    <mat-label><mat-icon>filter_alt</mat-icon>Project Name</mat-label>
    <input matInput (keyup)="applyFilterProjectName($event)" placeholder="Ex. Orion">
  </mat-form-field>
  <mat-form-field class="filter">
    <mat-label><mat-icon>filter_alt</mat-icon>Status</mat-label>
    <input matInput (keyup)="applyFilterStatus($event)" placeholder="Ex. In Progress">
  </mat-form-field>
  <mat-form-field class="filter">
    <mat-label><mat-icon>filter_alt</mat-icon>Manager</mat-label>
    <input matInput (keyup)="applyFilterManager($event)" placeholder="Ex. John Smith">
  </mat-form-field>
  <mat-checkbox 
    #checkBox
    class="filter"  
    matTooltip="Show only my projects" 
    (change)="change(checkBox)">
    My projects
  </mat-checkbox>
</div>



<div class="mat-elevation-z8">
  <table
    mat-table
    class="mat-elevation-z8"
    [dataSource]="filteredProjects"
    multiTemplateDataRows>

        <!-- ID Column -->
        <ng-container matColumnDef="id">
         <th mat-header-cell *matHeaderCellDef> ID </th>
          <td mat-cell *matCellDef="let project"> {{project.id}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name </th>
          <td mat-cell *matCellDef="let project"> {{project.name}} </td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef> Status </th>
          <td mat-cell *matCellDef="let project"> {{project.status}} </td>
        </ng-container>

        <!-- Reporter Column -->
        <ng-container matColumnDef="reporter">
          <th mat-header-cell *matHeaderCellDef> Manager </th>
          <td mat-cell *matCellDef="let project"> {{project.reporter}} </td>
        </ng-container>

        <!-- Target Days Column -->
        <ng-container matColumnDef="targetDays">
          <th mat-header-cell *matHeaderCellDef> Days Until Deadline </th>
          <td mat-cell *matCellDef="let project"> {{project.targetDays}} </td>
        </ng-container>

  <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
  <ng-container matColumnDef="expandedDetail">
    <td mat-cell *matCellDef="let project" [attr.colspan]="columnsToDisplay.length">
      <button class="go-to-project-page-btn" mat-icon-button color="primary" matTooltip="Go to Project's Page" (click)="onSelect(project)"><mat-icon>open_in_new</mat-icon></button>
      <div class="example-project-detail"
           [@detailExpand]="project == expandedProject ? 'expanded' : 'collapsed'">
        <div class="example-project-diagram">
          <div class="example-project-id"> {{project.id}} </div>
          <div class="example-project-name"> {{project.name}} </div>
          <div class="example-project-status"> {{project.status}} </div>
          <div class="example-project-manager"> {{project.reporter}} </div>
        </div>
        <div class="example-project-description">
          <span style="font-style: oblique;">{{project.description}}</span>
        </div>
      </div>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr 
    mat-row 
    class="example-project-row"
    *matRowDef="let project; columns: columnsToDisplay;"
    [class.example-expanded-row]="expandedProject === project"
    (click)="expandedProject = expandedProject === project ? null : project">
  </tr>
  <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
</table>

<mat-paginator 
[length]="filteredProjects?.length"
[pageSize]="10"
[pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>