*, body {
    margin: 0;
    padding: 0;
  }
  
  .flex-expand {
    flex: 1 1 auto;
    display: flex;
  }
  
  .container {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
  }
  
  .main-container {
    flex: 1;
  }
  
  .main-content {
    padding: 20px;
    margin: 0 auto;
    width: 1000px;
  }
  
  .main-sidenav {
    background-color: #3f51b5;
    padding-top: 20px;
  }
  
  .sidenav-link {
    font-size: 20px;
    padding: 10px 10px 10px 20px;
    text-decoration: none;
    color: white;
    display: block;
  }
  
  .active {
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.5);
  }