<div class="container">
  <div class="flex-row">
    <app-header
      [loggedIn]="loggedIn"
      (logout)="logout()"
      >
    </app-header>
  </div>
  <!-- <div class="flex-expand">
    <mat-drawer-container class="main-container">
      <mat-drawer #drawer class="main-sidenav" color="primary" mode="side">
        <a 
          class="sidenav-link"
          routerLink="/home"
          routerLinkActive="active"
        >
          <mat-icon>home</mat-icon>
          Home
        </a>
          <ng-template [ngIf]="loggedIn">
            <a
              class="sidenav-link"
              routerLink="/dashboard"
              routerLinkActive="active"
            >
              <mat-icon>dashboard</mat-icon>
              Dashboard
            </a>
            <a
              class="sidenav-link"
              routerLink="/projects"
              routerLinkActive="active"
            >
              <mat-icon>assignment</mat-icon>
              Projects
            </a>
            <a
            class="sidenav-link"
            routerLink="/employees"
            routerLinkActive="active"
            >
              <mat-icon>group</mat-icon>
              Employees
            </a>
              <ng-template [ngIf]="this.user?.role==='Admin'">
                <a
                  class="sidenav-link"
                  routerLink="/skills"
                  routerLinkActive="active"
                >
                  <mat-icon>build</mat-icon>
                  Skills
                </a>
              </ng-template>
          </ng-template>
      </mat-drawer> -->
      
      <div class="main-content">
        <router-outlet></router-outlet>
        <ngx-spinner></ngx-spinner>
      </div>
      
    <!-- </mat-drawer-container> -->
  
  </div>
  
  <div class="footer">
    <app-footer></app-footer>
  </div>
  
<!-- </div> -->
  