<div class="post-details-container" *ngIf="this.detailedPost">
  <h2 class="uk-margin-remove">{{this.detailedPost.title}}</h2>
  <p class="uk-text-meta uk-margin-remove-top">
    <time>{{this.detailedPost.addedOn | date : 'short'}}</time></p>
  <div
    class="uk-display-block uk-card uk-card-secondary uk-card-body uk-link-toggle uk-card-small uk-margin-bottom uk-padding-remove">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <div class="uk-width-expand">
          <p *ngIf="!this.postInEditMode" class="uk-margin-remove uk-text-meta uk-text-truncate">
            {{this.detailedPost.title}}</p>

        </div>
        <div class="uk-width-1-5">

        </div>
        <div class="uk-width-1-5 uk-margin-remove uk-padding-remove">
          <p class="uk-text-meta uk-margin-remove uk-align-right uk-text-truncate">
            by <a [routerLink]="['/users', this.detailedPost.authorId]">{{ this.author?.username }}</a></p>

        </div>
        <a class="uk-width-auto" [routerLink]="['/users', this.detailedPost.authorId]">
          <img class="uk-border-circle" width="40" height="40"
            src="{{author?.avatar ? userAvatarSrcPrefix + author?.avatar : defaultUserAvatarImagePath}}">
        </a>
      </div>
    </div>
    <div class="uk-card-body">
      <p class="uk-text" *ngIf="!this.postInEditMode">{{this.detailedPost.content}}</p>
      <form [formGroup]="this.registerForm" *ngIf="this.postInEditMode">
        <div>
          <input #titleInput type="text" formControlName="title" class="uk-input uk-form-blank">
          <span *ngIf="this.registerForm.controls.title.touched &&
                this.registerForm.controls.title.errors?.minlength">Title should be at least 2 characters long!</span>
          <span *ngIf="this.registerForm.controls.title.touched &&
                this.registerForm.controls.title.errors?.maxlength">Title should be max 50 characters long!</span>
        </div>
        <div>
          <textarea #contentInput type="text" class="uk-textarea" rows="5" placeholder="Start typing"
            formControlName="content"></textarea>
          <span *ngIf="this.registerForm.controls.content.touched &&
this.registerForm.controls.content.errors?.minlength">Content should be at least 10 characters long!</span>
        </div>
        <hr>
        <button class="uk-button uk-button-primary uk-button-small" type="button"
          (click)="this.updatePost(titleInput.value, contentInput.value)">Save</button> &nbsp;
        <a class="uk-link" type="button" (click)="this.showEditForm()">Cancel</a>
      </form>
    </div>
    <div *ngIf="!this.postInEditMode" class="uk-card-footer">
      <hr>
      <div class="uk-align-right uk-margin-remove">
        <a class="uk-icon-link" uk-icon="icon: lock; ratio: 1.2" uk-tooltip="Lock Post"
          *ngIf="loggedUserData.role==='Admin' && !this.detailedPost.isLocked"
          (click)="this.togglePostLock(this.postLocked=true)"></a>&nbsp;
        <a class="uk-icon-link" uk-icon="icon: unlock; ratio: 1.2" uk-tooltip="Unlock Post"
          *ngIf="loggedUserData.role==='Admin' && this.detailedPost.isLocked"
          (click)="this.togglePostLock(this.postLocked=false)"></a>&nbsp;
        <span class="uk-label uk-label-danger" *ngIf="this.detailedPost.isLocked">Post Locked</span> &nbsp; 
        <span class="uk-badge" uk-tooltip="Likes">{{this.detailedPost.likesCount}}</span>
        <a class="uk-icon-link" uk-icon="icon: heart; ratio: 1.3" uk-tooltip="Like Post"
          *ngIf="!this.loggedUserData.isBanned && !this.detailedPost.isLocked" (click)="this.likePost()"></a> &nbsp;
        &nbsp;
        <span class="uk-badge" uk-tooltip="Dislikes">{{this.detailedPost.dislikesCount}}</span>
        <a class="uk-icon-link" uk-icon="icon: bolt; ratio: 1.45" uk-tooltip="Dislike Post"
          *ngIf="!this.loggedUserData.isBanned && !this.detailedPost.isLocked" (click)="this.unlikePost()"></a>
        &nbsp; <span class="uk-label uk-label-danger" *ngIf="this.detailedPost.isFlagged">Post Flagged</span> &nbsp;
        <a class="uk-icon-link" uk-icon="icon: warning; ratio: 1.25" uk-tooltip="Flag Post"
          *ngIf="detailedPost.authorId!==loggedUserData.id && !this.detailedPost.isFlagged && !this.loggedUserData.isBanned && !this.detailedPost.isLocked"
          (click)="this.flagPost()"></a> &nbsp;
        <a class="uk-icon-link" uk-icon="file-edit" uk-tooltip="Edit Post"
          *ngIf="(detailedPost.authorId===loggedUserData.id || loggedUserData.role==='Admin') && !this.loggedUserData.isBanned && !this.detailedPost.isLocked"
          (click)="this.showEditForm()"></a> &nbsp;
        <a class="uk-icon-link" uk-icon="trash" uk-tooltip="Delete Post"
          *ngIf="(detailedPost.authorId===loggedUserData.id || loggedUserData.role==='Admin') && !this.loggedUserData.isBanned && !this.detailedPost.isLocked"
          (click)="deletePost()"></a>
      </div>
      <div class="uk-align-left uk-margin-remove">
        <button class="uk-button uk-button-primary uk-button-small" [routerLink]="['/home']">Back</button>
      </div>
    </div>
  </div>
</div>
<app-post-comments *ngIf="this.detailedPost" postTitle="{{ this.detailedPost.title }}"
  postLocked="{{ this.detailedPost.isLocked }}">
</app-post-comments>
