<mat-tab-group class="user-info">
    <mat-grid-tile>
      <mat-tab label="Today's Work">
        <mat-list role="list">
            <table mat-table [dataSource]="projects" class="mat-elevation-z8">
  
              <ng-container matColumnDef="projectId">
                <th mat-header-cell *matHeaderCellDef> Project ID </th>
                <td mat-cell *matCellDef="let element"> {{element?.projectId}} </td>
              </ng-container>   
  
                <ng-container matColumnDef="projectName">
                  <th mat-header-cell *matHeaderCellDef> Name </th>
                  <td mat-cell *matCellDef="let element"> {{element?.projectName}} 
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="skillName">
                  <th mat-header-cell *matHeaderCellDef> Skill </th>
                  <td mat-cell *matCellDef="let element"> {{element?.skillName}} </td>
                </ng-container>
              
                <ng-container matColumnDef="dailyTimeInput">
                  <th mat-header-cell *matHeaderCellDef> Daily input </th>
                  <td mat-cell *matCellDef="let element"> {{element?.dailyTimeInput}} </td>
                </ng-container>   
  
                <tr mat-header-row *matHeaderRowDef="displayedColumnsProject"></tr>
                <tr mat-row class="row-hover" *matRowDef="let row; columns: displayedColumnsProject;" (click)="projectPage(row)"></tr>
              </table>
        </mat-list>
      </mat-tab>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-tab label="Skills">
        <mat-list role="list">
            <table mat-table [dataSource]="skills" class="mat-elevation-z8">
                <ng-container matColumnDef="id">
                  <th mat-header-cell *matHeaderCellDef> Skills ID </th>
                  <td mat-cell *matCellDef="let element"> {{element?.id}} 
                  </td>
                </ng-container>
              
                <ng-container matColumnDef="name">
                  <th mat-header-cell *matHeaderCellDef> Skill </th>
                  <td mat-cell *matCellDef="let element"> {{element?.name}} </td>
                </ng-container>
                 
  
                <tr mat-header-row *matHeaderRowDef="displayedColumnsSkill"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumnsSkill"></tr>
              </table>
        </mat-list>
      </mat-tab>
    </mat-grid-tile>
  </mat-tab-group>
  
  
  
  
  
  