.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 500px;
    height: 370px;
    padding: 20px;
  }
  
  .example-full-width {
    width: 100%;
  }

  .form-buttons {
      float: right;
      padding-right: 5px;
  }

  