<button
  *ngIf="loggedUser.role === 'Admin'"
  mat-raised-button
  style="margin-top:15px;"
  color="primary"
  matTooltip="Create new User/Employee" 
  (click)="openDialog()"
  ><mat-icon>person_add</mat-icon>
</button>

<mat-tab-group>
  <mat-tab label="Employees" class="tab">

    <h2>. . . : : : Employees List : : : . . .</h2>

    <div class="filter-box">
      <mat-form-field class="filter">
        <mat-label><mat-icon>filter_alt</mat-icon>First Name</mat-label>
        <input matInput (keyup)="applyFilterFirstName($event)" placeholder="Ex. John">
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label><mat-icon>filter_alt</mat-icon>Last Name</mat-label>
        <input matInput (keyup)="applyFilterLastName($event)" placeholder="Ex. Smith">
      </mat-form-field>
      <mat-form-field class="filter">
        <mat-label><mat-icon>filter_alt</mat-icon>Position</mat-label>
        <input matInput (keyup)="applyFilterPosition($event)" placeholder="Ex. Senior Full-Stack Developer">
      </mat-form-field>
      <mat-checkbox
        #checkBox
        matTooltip="Show only my direct subordinates" 
        (change)="change(checkBox)">
        My Subordinates
      </mat-checkbox>
    </div>

    <br>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="filteredEmployees">
    

    
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let row"> {{row.position}} </td>
        </ng-container>
  
        <!-- Hours Column -->
        <ng-container matColumnDef="workingHoursLeft">
          <th mat-header-cell *matHeaderCellDef> Available Hours </th>
          <td mat-cell *matCellDef="let row"> {{row.workingHoursLeft}} </td>
        </ng-container>
  
        <!-- Info Column 
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> Add Skill </th>
          <td mat-cell *matCellDef="let row"> 
            <button
              mat-icon-button
              color="primary"
              matTooltip="Add new Skill to the selcted Employee"
              (click)="openAddSkillDialog()">
              <mat-icon>add</mat-icon>
              <mat-icon>build</mat-icon>
            </button>
          </td>
        </ng-container>
        -->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row class="employee-row" *matRowDef="let row; columns: displayedColumns;" (click)="employeePage(row)">
        </tr>
      </table>
      <mat-paginator 
      [length]="filteredEmployees?.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
  <mat-tab label="Users (Managers)" class="tab">
    <h2>. . . : : : Managers List : : : . . .</h2>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="users">
    

    
        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let row"> {{row.firstName}} </td>
        </ng-container>
    
        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let row"> {{row.lastName}} </td>
        </ng-container>
    
        <!-- Position Column -->
        <ng-container matColumnDef="position">
          <th mat-header-cell *matHeaderCellDef> Position </th>
          <td mat-cell *matCellDef="let row"> {{row.position}} </td>
        </ng-container>
  
        <!-- Hours Column -->
        <ng-container matColumnDef="workingHoursLeft">
          <th mat-header-cell *matHeaderCellDef> Available Hours </th>
          <td mat-cell *matCellDef="let row"> {{row.workingHoursLeft}} </td>
        </ng-container>

        <!-- Info Column 
        <ng-container matColumnDef="info">
          <th mat-header-cell *matHeaderCellDef> ? </th>
          <td mat-cell *matCellDef="let row"> 
            <button mat-icon-button>
              <mat-icon>add</mat-icon>
              <mat-icon>build</mat-icon>
            </button>
          </td>
        </ng-container>
        -->
    
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr 
        mat-row
        class="user-row" 
        *matRowDef="let row; columns: displayedColumns;" 
        (click)="userPage(row)">
      </tr>
      </table>
      
      <mat-paginator 
      [length]="users?.length"
      [pageSize]="10"
      [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </mat-tab>
</mat-tab-group>
  