<app-single-comment *ngFor="let comment of (this.postComments | SortByDate)" [singleComment]="comment"
  postLocked="{{ this.getLock() }}">
</app-single-comment>
<app-create-comment *ngIf="!this.getLock()" (onCreateCommentEvent)="handleChange()" [postTitle]="this.postTitle">
</app-create-comment>
