<div class="uk-container uk-margin-bottom">
  <div class="uk-align-left uk-margin-remove">
    <span class="uk-text-middle">Latest posts</span>
  </div>
  <div class="uk-align-right uk-margin-remove">
    <button *ngIf="this.sort === 'DESC'" class="uk-button uk-button-small uk-button-link uk-margin-large-right"
      uk-icon="arrow-up" type="button" (click)="this.sort = 'ASC'">Sort by Date</button>
    <button *ngIf="this.sort === 'ASC'" class="uk-button uk-button-small uk-button-link uk-margin-large-right"
      uk-icon="arrow-down" type="button" (click)="this.sort = 'DESC'">Sort by Date</button>
    <button class="uk-button uk-button-small uk-button-primary" type="button" [routerLink]="['/posts/create']">New
      Post</button>
  </div>
</div>

<div class="all-posts-container">
  <div class="posts-list">
    <app-single-post *ngFor="let post of (this.posts | SortByDate: this.sort)" [singlePost]="post" class="single-post">
    </app-single-post>
  </div>
</div>
