<div class="uk-container uk-margin-bottom">
  <div class="uk-align-left uk-margin-remove">
    <span class="uk-text-middle">Latest comments</span>
  </div>
</div>

<app-home-comment *ngFor="let comment of (this.postComments | SortByDate: 'DESC' | slice:0:15)"
  [singleComment]="comment" class="single-post">
</app-home-comment>
