<main>
  <div class="lp">
    <!--- START: NAV --->
    <nav class="lp__nav">
      <h1 class="prod-head"><span style="color:#453d93">SMART</span><span style="color:#567cad"> PROJECT</span><span style="color:#453d93"> PLANNER</span></h1>
      <img class="logo-img" src="assets/img/logo.png">
    </nav>
    <!--- END: NAV --->

    

    <section class="lp__body">
    <!--- START: TEXT --->
    <app-login></app-login>
    <!--- END: TEXT --->

    <!--- START: IMG --->
    <div class="lp__mainImg">
      <img src="https://42f2671d685f51e10fc6-b9fcecea3e50b3b59bdc28dead054ebc.ssl.cf5.rackcdn.com/illustrations/experience_design_eq3j.svg" class="lp__mainImg__img">
    </div>
    <!--- END: IMG --->
    </section>
  </div>
</main>

<app-slider></app-slider>