.img-avatar {
    height: 120px;
    width: 120px;
    margin: -60px auto 0 auto;
  }
  
  .img-avatar {
    border-radius: 50%;
    border: 5px solid white;
  }
  
  .container {
    margin-left: 20px;
    margin-right: 20px;
  }
  
  .card-img-top {
    width: 100%;
    height: 200px;
  }
  
  .project-data-container {
    margin-top: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
    background-color: white;
  }
  
  .info {
    margin-bottom: 15px;
  }
  
  .user-edit {
    float: right;
  }
  
  /*Edit Modal*/
  
  .modal-edit {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
  }
  
  .edit-form-container {
    width: 40%;
    text-align: center;
    padding: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 1px 2px 7px rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
  }
  
  .input-field {
    margin-top: 20px;
  }
  
  .edit-form-container h4 {
    text-align: left;
    margin-bottom: 10px;
  }
  
  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  
  .position {
    float: left;
  }

