
.bg-light {
    background-color: #eff1f3;
    color: #2a324b;
}

.bg-light {
    background-color: #eff1f3;
    color: #2a324b;
}

footer {
    width: 100%;
    bottom: 0;
}

.copyright-container {
    padding-top: 10px;
    text-align: center;
}

