<div class="profile-container">
  <div class="profile-info">
    <img class="card-img-top"
      src="https://media.licdn.com/dms/image/C561BAQHPj3cTKJFU9g/company-background_10000/0?e=2159024400&v=beta&t=q74_zGRmFxwEgFWZHayOudqmA84j8gqoksrBQV0webI" />
    <div class="container">
      <div class="profile-info">
        <div class="text-center">
          <img class="img-avatar" src="https://www.gravatar.com/avatar?d=mp" />
          <ng-template [ngIf]="(isAdmin)">
          <button matTooltip="Delete employee" class="user-edit" mat-icon-button (click)="agree()">
            <mat-icon>delete</mat-icon>
          </button>
        </ng-template>
        </div>
        <div class="info">
          <mat-card-title>{{ employee?.firstName }} {{ employee?.lastName }}</mat-card-title>
          <mat-card-subtitle class="position">Position: {{ employee?.position }}</mat-card-subtitle>
          <mat-card-subtitle class="direct-manager">Direct manager: {{ employee?.directManager }}</mat-card-subtitle>
        </div>
      </div>
    </div>
  </div>
