<!-- <div class="navbar-container">
  <button type="button" [routerLink]="['home']">Home</button>
  <button type="button" [routerLink]="['posts']" *ngIf="this.loggedUserData">Posts</button>
  <button [routerLink]="['users/profile']" *ngIf="this.loggedUserData" style="border: none;">
    <img src="{{loggedUserData.avatar ? userAvatarSrcPrefix + loggedUserData.avatar : defaultUserAvatarImagePath}}"
      style="max-width: 40px">
    {{this.loggedUserData.username}}
  </button>
  <button type="button" [routerLink]="['users/login']" *ngIf="!this.loggedUserData">Login</button>
  <button type="button" [routerLink]="['users/register']" *ngIf="!this.loggedUserData">Register</button>
  <button type="button" (click)="this.logoutUser()" *ngIf="this.loggedUserData">Logout</button>
</div> -->

<div class="uk-section-secondary uk-preserve-color uk-padding-small"
  uk-sticky="sel-target: .uk-navbar-container; cls-inactive: uk-light; cls-active: uk-navbar-sticky uk-light">
  <nav uk-navbar>

    <div class="uk-navbar-left">
      <ul class="uk-navbar-nav">
        <li class="uk-active"></li>
        <a class="uk-link-reset" [routerLink]="['/home']">
          <span class="uk-text-lowercase uk-text-bold uk-text-primary">Stack
            Underflow</span>
        </a>
      </ul>

    </div>

    <div class="uk-navbar-right">
      <app-notifications *ngIf="this.loggedUserData"></app-notifications>
      <ul class="uk-navbar-nav">
        <a class="uk-link-reset" [routerLink]="['/users/profile']" *ngIf="this.loggedUserData"> <img
            class="uk-border-circle" width="40" height="40"
            src="{{loggedUserData.avatar ? userAvatarSrcPrefix + loggedUserData.avatar : defaultUserAvatarImagePath}}">
          <span class="uk-margin-small-left uk-text-meta">
            {{ this.loggedUserData.username }}
            <span uk-icon="chevron-down"></span>
          </span>
        </a>
        <div *ngIf="this.loggedUserData" uk-dropdown>
          <ul class="uk-nav uk-dropdown-nav">
            <li class="uk-nav">Hello, {{this.loggedUserData.username | uppercase}}!</li>
            <li class="uk-nav-divider"></li>
            <li><a [routerLink]="['/users/profile']" *ngIf="this.loggedUserData">Profile</a></li>
            <li><a (click)="this.logoutUser()">Logout</a></li>
          </ul>
        </div>
        <!-- <button type="button" [routerLink]="['posts']" *ngIf="this.loggedUserData">Posts</button> -->

        <a [routerLink]="['users/profile']" *ngIf="this.loggedUserData" style="border: none;">
        </a>
        <!-- <li><button class="uk-button uk-button-default uk-button-small" type="button" (click)="this.logoutUser()"
          *ngIf="this.loggedUserData">Logout</button></li> -->
      </ul>

      <a class="uk-button uk-link uk-button-small" type="button" [routerLink]="['/users/register']"
        *ngIf="!this.loggedUserData">Register</a>
      <button class="uk-button uk-button-primary uk-button-small" type="button" [routerLink]="['/users/login']"
        *ngIf="!this.loggedUserData">Login</button>
    </div>
  </nav>
</div>
