<div class="create-post-container uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Create new post</h3>

  <form [formGroup]="this.postForm">
    <div>
      <input #titleInput type="text" placeholder="Title" formControlName="title"
        class="uk-input uk-margin-small-bottom">
      <span *ngIf="this.postForm.controls.title.touched &&
              this.postForm.controls.title.errors?.required">Title is required!</span>
      <span *ngIf="this.postForm.controls.title.touched &&
              this.postForm.controls.title.errors?.minlength">Title should be at least 2 characters long!</span>
      <span *ngIf="this.postForm.controls.title.touched &&
              this.postForm.controls.title.errors?.maxlength">Title should be max 50 characters long!</span>
    </div>
    <div>
      <textarea #contentInput type="text" class="uk-textarea" rows="5" placeholder="Start typing"
        formControlName="content"></textarea>
      <span *ngIf="this.postForm.controls.content.touched &&
            this.postForm.controls.content.errors?.required">Content is required!</span>
      <span *ngIf="this.postForm.controls.content.touched &&
            this.postForm.controls.content.errors?.minlength">Content should be at least 10 characters long!</span>
    </div>
    <hr>
    <button class="uk-button uk-button-primary uk-button-small" type="button"
      (click)="this.createPost(titleInput.value, contentInput.value)"
      [disabled]="this.loggedUser.isBanned">Post</button>
    <button class="uk-button uk-button-small uk-button-link uk-margin-left" type="button"
      [routerLink]="['/home']">Cancel</button>
  </form>
</div>
<!-- <form [formGroup]="this.registerForm">
    <input #titleInput type="text" placeholder="title..." style="width: 400px" formControlName="title">
    <br>
    <textarea #contentInput type="text" placeholder="content..." style="height: 200px; width: 398px"
      formControlName="content"></textarea>

    <br>
    <button type="button" (click)="this.createPost(titleInput.value, contentInput.value)"
      [disabled]="this.loggedUser.isBanned">Post</button>
  </form> -->
