<div class="container grid-container">
<div class="listSkills grid-item">
  <app-add-skill></app-add-skill>
    <mat-list *ngIf="this.skills?.length">
      <mat-list-item *ngFor="let skill of skills">{{ skill?.name }}
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-list>
 
</div>
<app-add-skill-to-employee class="addToEmployee grid-item"></app-add-skill-to-employee>
</div>