.main {
  position: relative;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 0.35;
}

.image {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

 .list-skills {
  margin-top: 25px;
}

.card {
  margin-left:auto;
  margin-right:auto;
  display: flex;
  width: 30%;
}

button {
  height: 40px;
  align-self: flex-start
}

.listSkills {
  width: 500px;
  box-shadow: 10px 10px 8px rgb(214, 214, 214);
  margin-bottom: 20px;
  border: 1px solid rgb(219,219,219);
}

.grid-container {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 60% 40%;
}
