<h2 mat-dialog-title>Are you sure you want to proceed?</h2>
<mat-dialog-content class="mat-typography">

</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close (click)="cancel()">NO</button>
  <button mat-raised-button color="accent" [mat-dialog-close]="true" color="warn" (click)="agree()">YES</button>
</mat-dialog-actions>