<div class="project-info">

  <div class="edit-add-form">
    <form *ngIf="this.addSkillFormShown && !this.skillInEditMode && this.loggedUserName === project.reporter" [formGroup]="this.addSkillForm">
      <mat-form-field appearance="fill">
        <mat-label>Skills</mat-label>
        <mat-select formControlName="skill" required>
          <mat-option *ngFor="let skill of this.skills" [value]="skill" required>{{skill.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Skill Time</mat-label>
        <input type="number" formControlName="skillTime" matInput placeholder="Total hours for skill" required>
      </mat-form-field> 
      <button (click)="this.addSkillToProject()" matTooltip="Add activity to project" class="user-edit" mat-icon-button >
        <mat-icon>add</mat-icon>
      </button>  
    </form>
    <form *ngIf="this.skillInEditMode && !this.addEmployeeFormShown" [formGroup]="this.editSkillForm">
      <mat-form-field appearance="fill">
        <mat-label>Activity Time</mat-label>
        <input type="number" formControlName="updatedSkillTime" matInput placeholder="Total hours for skill" required>
      </mat-form-field>
      <button (click)="this.updateProjectSkillTime()" matTooltip="Update activity time" class="user-edit" mat-icon-button >
        <mat-icon>update</mat-icon>
      </button>  
    </form>
    <form *ngIf="this.addEmployeeFormShown && !this.employeeInEditMode && this.loggedUserName === this.project.reporter" [formGroup]="this.addEmployeeForm">
      <mat-form-field appearance="fill">
        <mat-label>Selected Skills</mat-label>
        <mat-select formControlName="selectedSkill" required>
          <mat-option *ngFor="let skill of this.projectSkills" [value]="skill" (onSelectionChange)="this.getEmployeesForSelectedSkill($event, skill)" required>{{skill.skillName}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Available Employees</mat-label>
        <mat-select formControlName="employee" required>
          <mat-option *ngFor="let employee of this.employeesForSkill" [value]="employee" required>{{employee.firstName}} {{employee.lastName}} - {{employee.workingHoursLeft}} hours available</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Daily Input</mat-label>
        <input type="number" formControlName="dailyInput" matInput placeholder="Daily hours for skill" required>
      </mat-form-field> 
      <button (click)="this.addEmployeeToProject()" matTooltip="Add employee to project" class="user-edit" mat-icon-button >
        <mat-icon>add</mat-icon>
      </button>  
    </form>
    <form *ngIf="this.employeeInEditMode && !this.addSkillFormShown" [formGroup]="this.editEmployeeForm">
      <mat-form-field appearance="fill">
        <mat-label>Daily Input</mat-label>
        <input type="number" formControlName="updatedDailyInput" matInput placeholder="Daily hours for skill" required>
      </mat-form-field>
      <button (click)="this.updateProjectEmployeeTime()" matTooltip="Update employee input" class="user-edit" mat-icon-button >
        <mat-icon>update</mat-icon>
      </button>  
    </form>
  </div>
  
  
  <mat-tab-group class="tab-group" (selectedTabChange)="this.toggleAddForms()">
      <mat-grid-tile>
        <mat-tab label="Skills">
          <mat-list role="list">
              <table mat-table [dataSource]="projectSkills" class="mat-elevation-z8">
  
                  <ng-container matColumnDef="skillName">
                    <th mat-header-cell *matHeaderCellDef> Skill </th>
                    <td mat-cell *matCellDef="let element"> {{element.skillName}} 
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="totalHours">
                    <th mat-header-cell *matHeaderCellDef> Required Hours </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalHours}} </td>
                  </ng-container>
  
                    <ng-container matColumnDef="hoursWorked">
                    <th mat-header-cell *matHeaderCellDef> Hours Left </th>
                    <td mat-cell *matCellDef="let element"> {{element.totalHours - element.hoursWorked}} &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <button *ngIf="this.loggedUserName === this.project.reporter" (click)="this.showEditSkillForm(element)" matTooltip="Edit activity time" class="user-edit" mat-icon-button >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button *ngIf="this.loggedUserName === this.project.reporter" (click)="this.removeSkillFromProject(element)" matTooltip="Delete activity" class="user-edit" mat-icon-button >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsSkill"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsSkill;"></tr>
                </table>
          </mat-list>
        </mat-tab>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-tab label="Employees">
          <mat-list role="list">
              <table mat-table [dataSource]="projectEmployees" class="mat-elevation-z8">
                  <ng-container matColumnDef="employeeName">
                    <th mat-header-cell *matHeaderCellDef> Name </th>
                    <td mat-cell *matCellDef="let element"> {{element.employeeName}} 
                    </td>
                  </ng-container>
                
                  <ng-container matColumnDef="skillName">
                    <th mat-header-cell *matHeaderCellDef> Skill </th>
                    <td mat-cell *matCellDef="let element"> {{element.skillName}} </td>
                  </ng-container>
                
                  <ng-container matColumnDef="dailyTimeInput">
                    <th mat-header-cell *matHeaderCellDef> Daily Input </th>
                    <td mat-cell *matCellDef="let element"> {{element.dailyTimeInput}}h &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                      <button *ngIf="this.loggedUserName === this.project.reporter" (click)="this.showEditEmployeeForm(element)" matTooltip="Edit employee input" class="user-edit" mat-icon-button >
                        <mat-icon>edit</mat-icon>
                      </button>
                      <button *ngIf="this.loggedUserName === this.project.reporter" (click)="this.removeEmployeeFromProject(element)" matTooltip="Remove employee" class="user-edit" mat-icon-button >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>   
  
                  <tr mat-header-row *matHeaderRowDef="displayedColumnsEmployee"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumnsEmployee;"></tr>
                </table>
          </mat-list>
        </mat-tab>
      </mat-grid-tile>
    </mat-tab-group>

</div>

