.project-details {
  display: inline;
}



.project-info {
    margin-left: 30px;
    margin-top: 8px;
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 8px rgb(214, 214, 214);
   /*  background-image: url(https://media.licdn.com/dms/image/C561BAQHPj3cTKJFU9g/company-background_10000/0?e=2159024400&v=beta&t=q74_zGRmFxwEgFWZHayOudqmA84j8gqoksrBQV0webI); */
  }
  
  table {
    width: 100%;
  }

.edit-add-form {
  background-color: white;
  }

  .tab-group {
    /* background-color:#567cad; */
    color: whitesmoke;
  }

/*   .row-hover:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, .05);
  
  } */
  

  

  