<div class="slider">
  <input type="radio" name="slider" title="slide1" checked="checked" class="slider__nav"/>
  <input type="radio" name="slider" title="slide2" class="slider__nav"/>
  <input type="radio" name="slider" title="slide3" class="slider__nav"/>
  <input type="radio" name="slider" title="slide4" class="slider__nav"/>
  <div class="slider__inner">
    <div class="slider__contents"><a href="https://www.angular.io"><img src="../../../../assets/angular-logo.svg" alt=""></a>
      <h2 class="slider__caption">Angular</h2>
    </div>
    <div class="slider__contents"><a href="https://www.nestjs.com"><img src="../../../../assets/nestjs-logo.svg" alt=""></a>
      <h2 class="slider__caption">NestJS</h2>
    </div>
    <div class="slider__contents"><a href="https://www.telerikacademy.com/"><img src="../../../../assets/telerik-academy-logo.png" alt=""></a>
      <h2 class="slider__caption">Telerik Academy</h2>
    </div>
    <div class="slider__contents"><a href="https://tick42.com/"><img src="../../../../assets/tick42-logo.png" alt=""></a>
      <h2 class="slider__caption">Tick42</h2>
    </div>
  </div>
</div>

