<div class="single-post-container">
  <a [routerLink]="['/posts', this.singlePost.id]"
    class="uk-display-block uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle uk-card-small uk-margin-bottom uk-padding-remove">
    <div class="uk-card-header">
      <div class="uk-grid-small uk-flex-middle" uk-grid>
        <a class="uk-width-auto">
          <img class="uk-border-circle" width="40" height="40"
            src="{{postAuthor?.avatar ? userAvatarSrcPrefix + postAuthor.avatar : defaultUserAvatarImagePath}}">
        </a>
        <div class="uk-width-expand">
          <p class="uk-margin-remove uk-text-truncate">{{this.singlePost.title}} </p>
        </div>
        <div class="uk-width-1-5">
          <p class="uk-text-meta uk-margin-remove uk-align-right">
            <time>{{this.singlePost.addedOn | date : 'short'}}</time></p>
        </div>
        <div class="uk-width-1-5 uk-margin-remove uk-padding-remove">
          <p class="uk-text-meta uk-margin-remove uk-align-right uk-text-truncate">by
            {{this.postAuthor?.username || 'Unknown'}}</p>
        </div>
      </div>
    </div>
    <div class="uk-card-body">
      <p *ngIf="!this.singlePost.isFlagged && !this.singlePost.isLocked" class="uk-text-meta uk-text-truncate">
        {{this.singlePost.content}}</p>
      <span class="uk-label uk-label-danger" *ngIf="this.singlePost.isFlagged">Post Flagged</span> &nbsp;
      <span uk-icon="icon: lock" uk-tooltip="Post Locked" *ngIf="this.singlePost.isLocked"></span>
    </div>
  </a>
</div>
