<div id="main">
    <div class="fzf">
            <h1>500!</h1>
        <p>Oops... Something happen</p>
    <a [routerLink]="['/home']" routerLinkActive="router-link-active" class="btn" data-wipe="Take Me Home">Take Me Home</a>
    </div>
</div>