<form [formGroup]="this.registerForm">
  <fieldset class="uk-fieldset">

    <legend class="uk-legend">Comment</legend>

    <div class="uk-margin">
      <input formControlName="title" class="uk-input" type="text" placeholder="Title">
    </div>

    <div class="uk-margin">
      <textarea formControlName="content" class="uk-textarea" rows="5" placeholder="Start typing"></textarea>
    </div>
    <div class="uk-margin">
      <button [disabled]="this.loggedUser.isBanned" (click)="this.createComment()" class="uk-button uk-button-primary" type="button">Send</button>
    </div>

  </fieldset>
</form>
