<ng-template [ngIf]="loggedIn">
<header>
  <ul>
    <li>
      <a style="cursor: pointer;" (click)="triggerLogout()" [routerLink]="['/home']" routerLinkActive="router-link-active">Logout</a>
  </ul>
  <h4>
  Hello, <span>{{ loggedUser.firstName }} {{ loggedUser.lastName }}</span>
  </h4>
</header>
</ng-template>
<ng-template [ngIf]="loggedIn">
<mat-toolbar class="primary" >
<h1 class="logo">
  <a class="normalclass" [routerLink]="['/dashboard']" routerLinkActive="active">
  <img class="logo-img" src="assets/img/logo.png"></a>
</h1>
<button class="test" mat-button [routerLink]="['/dashboard']">
  <h1 class="prod-head"><span style="color:#453d93">SMART</span><span style="color:#567cad"> PROJECT</span><span style="color:#453d93"> PLANNER</span></h1></button>
  <span class="fill-remaining-space"></span>
  <div class="test">
  <ng-template [ngIf]="loggedIn">

    <button mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard<mat-icon>dashboard</mat-icon></button>
      <button mat-button [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects<mat-icon>assignment</mat-icon></button>
      <button mat-button [routerLink]="['/employees']" routerLinkActive="router-link-active">Employees<mat-icon>group</mat-icon></button>
      <ng-template [ngIf]="loggedUser.role === 'Admin'">

      <button mat-button [routerLink]="['/skills']" routerLinkActive="router-link-active">Skills<mat-icon>build</mat-icon></button>
    </ng-template>
</ng-template>
</div>
  <button mat-button [mat-menu-trigger-for]="menu" fxHide="false" fxHide.gt-sm>
   <mat-icon>menu</mat-icon>
  </button>

</mat-toolbar>
<mat-menu x-position="before" #menu="matMenu">
  <button mat-button [routerLink]="['/dashboard']" routerLinkActive="router-link-active">Dashboard<mat-icon>dashboard</mat-icon></button>
  <button mat-button [routerLink]="['/projects']" routerLinkActive="router-link-active">Projects<mat-icon>assignment</mat-icon></button>
  <button mat-button [routerLink]="['/employees']" routerLinkActive="router-link-active">Employees<mat-icon>group</mat-icon></button>
  <ng-template [ngIf]="loggedUser.role === 'Admin'">

  <button mat-button [routerLink]="['/skills']" routerLinkActive="router-link-active">Skills<mat-icon>build</mat-icon></button>
</ng-template>
</mat-menu>
</ng-template>