body {
    background-color: lightgray;
}

#trending, #your-fav-gif, #uploaded {
  cursor: pointer;
}

#trending {
    padding-left: 10%;
}

.navbar {
    display: flex; 
    justify-content: space-around; 
    align-items: center;
    position: fixed;
    background-color: white;
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    width: 100%;
    top: 0px;
    z-index: 2;
}

#input-search {
    width: 40%;
}

#myFile{
   display: none;
}

.heading {
    padding-top: 7%;
    padding-bottom:3%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.favourite-img {
    width: 100%;
}

.gifs{
    border-radius: 5px;
    width: 100%;
}

.bar-bottom, .card-preview {
    display: inline-table;
}

.card-preview {
    width: 30%;
    /* border: 1px solid rgb(0, 0, 0); */
    padding: 0;
    margin: 1%;
}

.card-fav-view {
    width: 80%;
    margin: 1%;
    margin-bottom: 15%;
}

.card-full-view{
    width: 80%;
    margin-bottom: 15%;
}

.details-info{
    text-align: center;
}

.bar-bottom{
    width: 100%;
}

.favourite-button{
    position: absolute;
    right: 2%;
    cursor: pointer;
}

.show-details {
    cursor: pointer;
}

.display-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bar-bottom{
    font-size: 1vw;
    padding: 2%;
}

.details-info-wrapper{
    padding-top: 3%;
    border-top: 1px dotted black;
}
