<h1>Start new Project</h1>
  <mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup">
      <form [formGroup]="this.firstFormGroup">
        <ng-template matStepLabel>Start your project</ng-template>
        <mat-form-field>
          <mat-label>Name</mat-label>
          <input matInput placeholder="Project name" formControlName="name" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Description</mat-label>
          <textarea matInput placeholder="Project description" formControlName="description" required></textarea>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Completion Days</mat-label>
          <input type="number" matInput placeholder="Work days for completion" formControlName="targetDays" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Total Management Time</mat-label>
          <input #managementTotalInput type="number" matInput placeholder="Total hours for management" formControlName="managementTotalHours" required>
        </mat-form-field>
        <br/>
        <mat-form-field>
          <mat-label>Daily Management Time</mat-label>
          <input type="number" matInput placeholder="Daily hours for management" formControlName="managementDailyHours" required>
          <mat-hint align="end">You have {{this.loggedUser.workingHoursLeft}} hours available.</mat-hint>
        </mat-form-field>
        <div>
          <button [disabled]="this.loggedUser.workingHoursLeft < 1 && managementTotalInput.value > 0" (click)="this.startProject()" mat-raised-button color="primary" matStepperNext>Next</button>
        </div>
        <mat-hint align="end">* marked fields are mandatory</mat-hint>
      </form>
    </mat-step>
    <mat-step [completed]="this.projectSkillsToDisplay.length > 0">
      <form [formGroup]="this.secondFormGroup">
        <ng-template matStepLabel>Add competences</ng-template>
        <mat-card *ngIf="this.projectCompletionDays !== null" class="example-card">
          <mat-card-header>
            <mat-chip *ngIf="this.initialProjectData.targetDays <  this.projectCompletionDays" color="accent" selected>{{this.projectCompletionDays - this.initialProjectData.targetDays}} work days behind schedule!</mat-chip>
            <mat-card-title>Project completion in: {{this.projectCompletionDays}} work days</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card *ngIf="this.projectCompletionDays === null" class="example-card">
          <mat-card-header>
            <mat-card-title>Project completion in: NEVER</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-form-field appearance="fill">
          <mat-label>Skills</mat-label>
          <mat-select formControlName="skill" required>
            <mat-option *ngFor="let skill of this.skills" [value]="skill" required>{{skill.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Skill Time</mat-label>
          <input type="number" matInput placeholder="Total hours for skill" formControlName="skillTotalHours" required>
        </mat-form-field> &nbsp;
          <button (click)="this.addSkillsToProject()" matTooltip="Add activity to project" mat-mini-fab color="primary">
            <mat-icon>add_box</mat-icon>
          </button>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button (click)="this.makeThirdStepOptional()" mat-raised-button color="primary" matStepperNext class="second-button">Next</button>
        </div>
        <mat-hint align="end">* marked fields are mandatory</mat-hint>
        <mat-list role="list">
          <mat-list-item *ngIf="this.projectSkillsToDisplay.length > 0" role="listitem">Selected Skills:</mat-list-item>
          <mat-list-item *ngFor="let skill of this.projectSkillsToDisplay" role="listitem">{{skill.skillName}} - {{skill.totalHours}} hours</mat-list-item>
        </mat-list>
      </form>
    </mat-step>
    <mat-step [optional]="this.isThirdStepOptional" [completed]="this.projectEmployeesToDisplay.length > 0">
      <form [formGroup]="thirdFormGroup">
        <ng-template matStepLabel>Add employees</ng-template>
        <mat-card *ngIf="this.projectCompletionDays !== null" class="example-card">
          <mat-card-header>
            <mat-chip *ngIf="this.initialProjectData.targetDays <  this.projectCompletionDays" color="accent" selected>{{this.projectCompletionDays - this.initialProjectData.targetDays}} work days behind schedule!</mat-chip>
            <mat-card-title>Project completion in: {{this.projectCompletionDays}} work days</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-card *ngIf="this.projectCompletionDays === null" class="example-card">
          <mat-card-header>
            <mat-card-title>Project completion in: NEVER</mat-card-title>
          </mat-card-header>
        </mat-card>
        <mat-form-field appearance="fill">
          <mat-label>Selected Skills</mat-label>
          <mat-select formControlName="selectedSkill" required>
            <mat-option *ngFor="let skill of this.selectedSkills" [value]="skill" (onSelectionChange)="this.filterEmployeesBySkill($event, skill)" required>{{skill.name}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Available Employees</mat-label>
          <mat-select formControlName="employee" required>
            <mat-option *ngFor="let employee of this.filteredEmployees" [value]="employee" required>{{employee.firstName}} {{employee.lastName}} - {{employee.workingHoursLeft}} hours available</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Daily Input</mat-label>
          <input type="number" matInput placeholder="Daily hours for skill" formControlName="employeeDailyHours" required>
        </mat-form-field> &nbsp;
          <button (click)="this.addEmployeeToProject()" matTooltip="Add employee to project" mat-mini-fab color="primary">
            <mat-icon>add_box</mat-icon>
          </button>
        <div>
          <button mat-raised-button color="primary" matStepperPrevious>Back</button>
          <button mat-raised-button color="primary" matStepperNext class="second-button">Next</button>
        </div>
        <mat-hint align="end">* marked fields are mandatory</mat-hint>
        <mat-list role="list">
          <mat-list-item *ngIf="this.projectEmployeesToDisplay.length > 0" role="listitem">Selected Employees:</mat-list-item>
          <mat-list-item *ngFor="let employee of this.projectEmployeesToDisplay" role="listitem">{{employee.skillName}}:&nbsp; {{employee.employeeName}} - {{employee.dailyTimeInput}} hours</mat-list-item>
        </mat-list>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <h2>Your new project is ready to be created:</h2>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>{{this.initialProjectData.name}}</mat-card-title>
          <mat-card-subtitle>{{this.initialProjectData.description}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <h3>
            Target days: {{this.initialProjectData.targetDays}} work days <br>
            Management Time: {{this.initialProjectData.managementTotalHours}} hours <br>
            Daily Management Time: {{this.initialProjectData.managementDailyHours}} hours
          </h3>
        </mat-card-content>
        <mat-card-actions>
          <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="this.projectSkillsToDisplay.length > 0" role="listitem">Selected Skills:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let skill of this.projectSkillsToDisplay" role="listitem">{{skill.skillName}} - {{skill.totalHours}} hours</mat-list-item>
          </mat-list>
          <mat-list role="list">
            <mat-divider></mat-divider>
            <mat-list-item *ngIf="this.projectEmployeesToDisplay.length > 0" role="listitem">Selected Employees:</mat-list-item>
            <mat-divider></mat-divider>
            <mat-list-item *ngFor="let employee of this.projectEmployeesToDisplay" role="listitem">{{employee.skillName}}:&nbsp; {{employee.employeeName}} - {{employee.dailyTimeInput}} hours</mat-list-item>
          </mat-list>
          </mat-card-actions>
      </mat-card> &nbsp;
      <div>
        <button mat-raised-button color="primary" matStepperPrevious>Back</button>
        <button (click)="this.createProject()" mat-raised-button color="primary" class="second-button">Done</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
  
