<div class="single-comment-container">
  <a [routerLink]="['/posts', this.singleComment.postId]"
    class="uk-display-block uk-card uk-card-default uk-card-body uk-card-hover uk-link-toggle uk-card-small uk-margin-bottom uk-padding-remove">
    <div class="uk-card-header">
      <p class="uk-text-meta uk-margin-remove uk-text-truncate">{{this.singleComment.title}}</p>
      <p class="uk-text uk-margin-remove uk-text-truncate">{{this.singleComment.content}}</p>
    </div>
    <div class="uk-card-body">
      <div class="uk-align-left uk-margin-remove">
        <img class="uk-border-circle" width="20" height="20"
          src="{{postAuthor?.avatar ? userAvatarSrcPrefix + postAuthor.avatar : defaultUserAvatarImagePath}}">
        <p class="uk-text-meta uk-margin-remove uk-margin-small-left uk-inline uk-text-truncate"
          style="margin-left: 8px!important;"><a
            [routerLink]="['/users', this.singleComment.userId]">{{this.postAuthor?.username}}</a></p>
      </div>
      <div class="uk-align-right">
        <p class="uk-text-meta uk-margin-remove uk-inline uk-text-truncate">
          {{ this.singleComment.addedOn | date : 'short' }}
        </p>
      </div>
    </div>
  </a>
</div>
