<div class="profile-container">
  <div class="profile-info">
    <img class="card-img-top"
      src="https://media.licdn.com/dms/image/C561BAQHPj3cTKJFU9g/company-background_10000/0?e=2159024400&v=beta&t=q74_zGRmFxwEgFWZHayOudqmA84j8gqoksrBQV0webI" />
    <div class="container">
      <div class="profile-info">
        <div class="text-center">
          <img class="img-avatar" src="https://www.gravatar.com/avatar?d=mp" />
          <ng-template [ngIf]="(isAdmin)">
            <button matTooltip="Delete profile" class="user-edit" mat-icon-button (click)="agree()">
              <mat-icon>delete</mat-icon>
            </button>
          </ng-template>
         <!-- <ng-template [ngIf]="(isAdmin || isOwner)">
            <button matTooltip="Edit profile" class="user-edit" mat-icon-button (click)="openDialog()">
              <mat-icon>edit</mat-icon>
            </button>
          </ng-template>-->
        </div>
        <div class="info">
          <mat-card-title>{{ user?.firstName }} {{user?.lastName}}</mat-card-title>
          <mat-card-subtitle class="lead">{{ user?.email }}</mat-card-subtitle>
          <mat-card-subtitle class="position">Position: {{ user?.position }}</mat-card-subtitle>
          <mat-card-subtitle class="direct-manager" >Direct manager: {{ user?.directManagerName }}</mat-card-subtitle>
        </div>
    </div>
  </div>
</div>