<div class="home-container uk-grid" uk-grid>
  <div *ngIf="this.loggedUserData" class="uk-width-2-3@m uk-width-1-1">
    <app-all-posts></app-all-posts>
  </div>
  <div *ngIf="this.loggedUserData" class="uk-width-1-3@m uk-width-1-1">
    <app-all-comments></app-all-comments>
  </div>
  <div class="uk-width-1-1" *ngIf="!this.loggedUserData">
    <p class="uk-heading uk-text-center">Please log in to see posts.</p>
  </div>
</div>
