<div class="uk-card uk-card-default uk-card-body">
  <h3 class="uk-card-title">Register</h3>
  <div class="register-container uk-margin">
    <form [formGroup]="this.registerForm">
      <div class="uk-margin"><input class="uk-input" #emailInput type="text" placeholder="email..."
          formControlName="email">
        <span *ngIf="this.registerForm.controls.email.touched &&
              this.registerForm.controls.email.errors?.required">Email is required!</span>
        <span *ngIf="this.registerForm.controls.email.touched &&
              this.registerForm.controls.email.errors?.pattern">Email is not valid!</span></div>
      <div class="uk-margin"><input class="uk-input" #usernameInput type="text" placeholder="username..."
          formControlName="username">
        <span *ngIf="this.registerForm.controls.username.touched &&
              this.registerForm.controls.username.errors?.required">Username is required!</span>
        <span *ngIf="this.registerForm.controls.username.touched &&
              this.registerForm.controls.username.errors?.minlength">Username should be at least 2 characters
          long!</span>
        <span *ngIf="this.registerForm.controls.username.touched &&
              this.registerForm.controls.username.errors?.maxlength">Username should be max 20 characters long!</span>
      </div>
      <div class="uk-margin"><input class="uk-input" #passwordInput type="password" placeholder="password..."
          formControlName="password">
        <span *ngIf="this.registerForm.controls.password.touched &&
              this.registerForm.controls.password.errors?.required">Password is required!</span>
        <span *ngIf="this.registerForm.controls.password.touched &&
              this.registerForm.controls.password.errors?.pattern">Password must be minimum 6 characters long and
          contain at
          least one letter and one number!!</span></div>
      <button class="uk-button uk-button-primary" type="button"
        (click)="this.registerNewUser(emailInput.value, usernameInput.value, passwordInput.value)">Register</button>
    </form>
  </div>
</div>
