<mat-tab-group>
    <mat-tab label="Edit">
      <form class="example-form" (ngSubmit)="addSkill(employeeId, skill)">
        <mat-form-field class="example-full-width">
          <mat-label>Skill</mat-label>
          <mat-select [(value)]="employeeId" >
            <mat-option *ngFor="let employee of employees" [value]="employee.id">
              {{ employee?.firstName }} {{ employee?.lastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <mat-label>Employee</mat-label>
          <mat-select [(value)]="skill" >
            <mat-option *ngFor="let skill of skills" [value]="skill.id">
              {{ skill?.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <span class="form-buttons">
          <button mat-button mat-dialog-close>Cancel</button>
          <button type="submit" mat-raised-button [mat-dialog-close]="true" class="btn-submit-edit">Add</button>
        </span>
        </form>
    </mat-tab>

